.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.f1-con {
  text-align: center;
  font-size: 0.7rem;
  color: grey;
  max-width: 50rem;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
}

.header h1 {
  display: inline-block;
}

img.site-logo {
  display: inline;
  width: 10rem;
}

/* .header .site-logo {
  margin-left: auto;
}

img.site-logo {
  width: 120px;
} */

.header .site-title {
  color: #e10600;
  font-size: 2em;
  vertical-align: middle;
  padding: 2rem;
}

.event__link {
  color: rgb(182, 182, 182);
  margin: 0 1em;
  font-size: 0.9em;
}
.event__link:hover {
  color: rgb(243, 243, 243);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 546px) {
  .header .site-title {
    padding: 0;
  }
}
