:root {
  --race-font-size: 1.25rem;
}

body {
  font-size: var(--race-font-size);
}

.card__main {
  background-color: #212121;
  max-width: 85vw;
  /* max-width: 25rem; */
}

.card__schedule {
  background-color: #141414;
}

.card__schedule .race {
  color: #ff0800;
  font-size: var(--race-font-size);
}
.card__schedule .quali {
  color: #d6cb00;
  font-size: var(--race-font-size);
}
.card__schedule .sprint {
  color: #00ff00;
  font-size: var(--race-font-size);
}
.card__schedule .freepractice {
  color: #9c9c9c;
  font-size: var(--race-font-size);
}

.card__schedule .date {
  color: #d4d4d4;
}
.card__schedule .time {
  color: #949494;
}
.card__schedule .day {
  color: #454545;
}

.card__divider {
  border-top: 2px solid #2b2b2b;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
}

.gp__name {
  color: #ffdca3;
  font-size: 1.4rem;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.country-flag {
  max-width: fit-content;
  border-radius: 0.375rem 0 0.375rem 0;
}

.circuit__image {
  padding: 0.75em;
  border-radius: 0.375rem;
}

.card__track {
  background-color: #242424;
  box-shadow: 0px 1px 26px #141414;
}

.card__track h3 {
  color: #b8ae00;
  font-size: 1.25rem;
}

.card__track .name {
  color: #d4d4d4;
  font-size: 0.875rem;
}
.card__track .location {
  color: #a1a1a1;
  font-size: 1rem;
}
.card__track .country {
  color: #828282;
  font-size: 1.25rem;
}

.lap-text {
  color: #828282;
  font-size: 0.9rem;
}

.lap-count {
  color: antiquewhite;
}

.lap-driver {
  font-size: 0.7rem;
  color: #828282;
}

.tbc-warning {
  color: antiquewhite;
  font-size: 0.7rem;
}

.race__weekend {
  font-size: 1.2rem;
  color: red;
  animation-name: lightsOut;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, end);
}

.circle {
  height: 20px;
  width: 20px;
  background-color: #242424;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.race__weekend .circle:nth-child(1) {
  animation: circle1 10s steps(1, end) 3;
}
.race__weekend .circle:nth-child(2) {
  animation: circle2 10s steps(1, end) 3;
}
.race__weekend .circle:nth-child(3) {
  animation: circle3 10s steps(1, end) 3;
}
.race__weekend .circle:nth-child(4) {
  animation: circle4 10s steps(1, end) 3;
}
.race__weekend .circle:nth-child(5) {
  animation: circle5 10s steps(1, end) 3;
}

@keyframes circle1 {
  0% {
    background-color: #242424;
  }
  10%,
  100% {
    background-color: red;
  }
}
@keyframes circle2 {
  0% {
    background-color: #242424;
  }
  20%,
  100% {
    background-color: red;
  }
}
@keyframes circle3 {
  0% {
    background-color: #242424;
  }
  30%,
  100% {
    background-color: red;
  }
}
@keyframes circle4 {
  0% {
    background-color: #242424;
  }
  40%,
  100% {
    background-color: red;
  }
}
@keyframes circle5 {
  0% {
    background-color: #242424;
  }
  50%,
  100% {
    background-color: red;
  }
}
